# dependencies
node_modules/

# build output
dist/
coverage/
*.tsbuildinfo
tsconfig.tsbuildinfo

# env & secrets
.env
.env.local
.env.*.local

# logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
